body {
  margin: 0px;
  padding: 0px;
}
.hidden {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#background-image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  z-index: -1;
  animation: fadein 0.5s linear;
}
.main-contents {
  opacity: 85%;
  width: 1400px;
  height: 720px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -700px;
  top: 50%;
  margin-top: -360px;
}
